// featured
.featured-blog  {
  background-color: currentColor;
  //border-top:2px solid #fff;
  margin-bottom:0px;
  margin-top: 00px;
  padding:30px 20px;
}

.morebtn{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  background: #000;
  color: #fff;
  padding: 8px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  border: 1px solid black;
}
