<nav class="navbar navbar-expand-md navbar-dark bg-current">
    <div class="container">
      <a class="navbar-brand" routerLink="/">
        <img src="assets/images/logo.png" alt="Angular Project" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a routerLink="/" routerLinkActive="active" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/about/portfolio" routerLinkActive="active" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a routerLink="/users" routerLinkActive="active" class="nav-link">Users</a>
          </li>
          <li class="nav-item">
            <a routerLink="/blog" routerLinkActive="active" class="nav-link">Blog</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
