<div class="right-widget recent-post">
    <h3>Recent Blogs</h3>
    <a href="#">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img1.jpg" alt="blog1" />
            </div>
            <div class="rb-box-desc">
                <h4>Tech post1</h4>
                <p>Posted On: October 22, 2018</p>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img2.jpg" alt="blog1" />
            </div>
            <div class="rb-box-desc">
                <h4>Tech post2</h4>
                <p>Posted On: October 22, 2018</p>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img3.jpg" alt="blog1" />
            </div>
            <div class="rb-box-desc">
                <h4>Tech post3</h4>
                <p>Posted On: October 22, 2018</p>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img4.jpg" alt="blog1" />
            </div>
            <div class="rb-box-desc">
                <h4>Tech post4</h4>
                <p>Posted On: October 22, 2018</p>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img5.jpg" alt="blog1" />
            </div>
            <div class="rb-box-desc">
                <h4>Tech post5</h4>
                <p>Posted On: October 22, 2018</p>
            </div>
        </div>
    </a>
  </div>
