<div class="container">
  <!--Property Binding-->
  <button [disabled]="!enableAdd" class="btn btn-light btn-block mb-3" [ngClass]="currentClasses">
    Add New User
  </button>

  <!--Users-->
  <h2>Users</h2>
  <ul class="list-unstyled" *ngIf="loaded && users?.length > 0">
    <li class="card card-body mb-2" *ngFor="let user of users" [class.bg-light]="user.isActive">
      <div class="row">
        <div class="col-sm-4">
          <!--Three Ways of doing image binding-->
          <img class="img-fluid" [src]="user.image" alt="">
          <!--<img class="img-fluid" src="{{user.image}}" alt=""> -->
          <!--<img class="img-fluid" bind-src="user.image" alt="">-->
        </div>
        <div class="col-sm-8">
          <h3>{{user.firstName }} {{user.lastName}}</h3>
          <!--<h3><span [textContent]="user.firstName"></span>{{user.lastName}}</h3>-->
          <ul class="list-group" *ngIf="showExtended && user.age && user.address">
            <li class="list-group-item">Age: {{user.age}}</li>
            <li class="list-group-item">Address: {{user.address.street}}, {{user.address.city}}, {{user.address.state}}
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>

  <!--<ng-template #noUsers>
  <h4>No User Found !</h4>
</ng-template>-->

  <h4 *ngIf="users?.length == 0">No User Found !</h4>
  <h4 *ngIf="!loaded">Loading Users...</h4>
</div>
